<p>
  <mat-card class="remove mat-elevation-z3">
    <mat-card-title class="title">
      Remover Caracteres Especiais de CNPJ
    </mat-card-title>
  </mat-card>
</p>

<p>
  <mat-form-field class="textarea-custom">
    <mat-label for="cnpj-list">Insira a lista de CNPJ:</mat-label>      
    <textarea id="cnpj-list" matInput rows="3" [(ngModel)]="cnpjList"></textarea>
  </mat-form-field>
</p>

<p>
  <button mat-raised-button (click)="removerCaracteresEspeciais()">
    Remover
  </button>
</p>

<p>
  <mat-form-field class="textarea-custom">
    <mat-label></mat-label>      
    <textarea matInput rows="3" [(ngModel)]="resultado">{{ resultado }}</textarea>
  </mat-form-field>
</p>



