.nova-tarefa{
    padding: 15px;
    background-color: black;
    color: aqua;
   }

   .nova-tarefa p{
    margin: 0;
   }
    
    .nova-tarefa.title{
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    
    .nova-tarefa .subtitle{
        font-size: 1rem;
    }